.Home{
    /* position:relative; */
    flex:2;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.SearchBar{
    position:relative;
    top: 5px;
} 

